header{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid lightgray;
    background-color: whitesmoke;
    height: 7%;
}
#container {
    display: flex;
    flex-direction: row;
    height: 90%;
}
html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
}
nav {
    flex: 0 1 20%;
    border-right: 1px solid lightgray;
    background-color: whitesmoke;
}
main {
    background-color: white;
    flex: 0 1 80%;
}
#abet {
    color: gray;
    padding-left: 1%;
    font-weight: normal;
}
#profile .person {
    width: 22px;
    height: 22px;
    display: inline-flex;
   /* object-fit: cover;*/
}
#profile .caret {
    width: 12px;
    height: 12px;
    display: inline-flex;
    padding-right: 2vw;
    padding-top: 0.5vw;
}
.container-section-title {
    padding-left: 5%;
}
.container-results {
    font-size: 42px;
    padding: 2% 3% 0 3%;
    opacity: 0.75;
}
hr {
    border:0;
    border-top:1px solid #eee;
    margin:20px 0
}
.main-results-description p {
    padding: 0 3% 0 3%;
    font-size: 17px;
}
.outcome-description{
    border-radius: 4px;
    background-color: whitesmoke;
    border: 1px solid lightgray;
    margin: 0 3% 0 3%;
}
.outcome-description #embedded-description{
    font-size: 17px;
    padding: 0 2em 1% 1em;
}
