html {
    height: 100%;
}
html, body {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
}
main {
    background-color: white;
    flex: 0 1 80%;
}
.container-header {
    font-size: 42px;
    padding: 2% 3% 0 3%;
    opacity: 0.75;
}
hr {
    border:0;
    border-top:1px solid #eee;
    margin:20px 0;
}
.main-results-description, .main-narratives-description p {
    padding: 0 3% 0 3%;
    font-size: 17px;
}
.outcome-description{
    border-radius: 4px;
    background-color: whitesmoke;
    border: 1px solid lightgray;
    margin: 0 3% 0 3%;
}
.outcome-description #embedded-description{
    font-size: 17px;
    padding: 0 2em 1% 1em;
}
.expectation-table {
    margin: 0 3% 0 3%;
    width: 94%;
}
.expectation-table th {
    border-bottom: 2px solid lightgray;
    text-align: left;
    padding: 0 0 1% 1%;
}
.expectation-table tr td input {
    width: 95%;
    border-radius: 4px;
    padding: 1% 0 1% 3%;
    font-weight: 20px;
    border: 1px solid lightgray;
    line-height: 2em;
}
.expectation-table tr td {
    padding: 1% 0 0 1%;
}
.save-results {
    padding-top: 3%;
    padding-left: 84%;
}
#inner-save {
    padding-left: 35%;
	position: absolute;
}
#inner-save-2 {
	padding-left: 33%;
	position: absolute;
}
.save-results-btn {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    width: 75%;
    padding: 6% 4% 6% 4%;
    border-radius: 4px;
    border: 0;
    font-size: 13pt;
}
.save-results-btn:hover {
    background-color: teal;
    cursor: pointer;
}
.end-results {
        border: 0;
        clear:both;
        display:block;
        width: 95%;               
        background-color:whitesmoke;
        height: 1px;
        margin: auto;
  }
  a div {
      width: 100%;
      padding: 5% 0 5% 5%;
      font-size: large;
      color: #337ab7;
  }
  .new-hr {
      border-top: 1px solid lightgray;
      margin: 0;
  }
  .assessments-description {
    font-size: 17px;
  }
  .assessment-table {
    margin: 0 3% 0 3%;
    width: 94%;
  }
  .assessment-table th {
    border-bottom: 2px solid lightgray;
    text-align: left;
    padding: 0 0 1% 1%;
}
.assessment-table tr td .weights{
    width: 90%;
    border-radius: 4px;
    padding: 2% 0 2% 5%;
    font-weight: 20px;
    border: 1px solid lightgray;
    line-height: 2em;
}
.assessment-table tr .weights input{
    width: 90%;
    border-radius: 4px;
    padding: 2% 0 2% 5%;
    font-weight: 20px;
    border: 1px solid lightgray;
    line-height: 2em;
}
.trash-can {
    padding-left: 2%;
    width: 10%;
    margin-top: 0;
    border-top: 0;
}
.trash-can .trash-pic{
    width: 40px;
    height: 40px;
    border-radius: 5px;
}
.assess-description {
    border-radius: 5px;
}
.assessment-table tr td {
    border-bottom: 1px solid lightgray;
}
.new-img-button {
    padding-left: 3%;
}
.new-button {
    width: 80px;
    height: 40px;
    border-radius: 5px;
}
.save-assessments {
    padding-top: 3%;
    padding-left: 84%;
}
.save-assessments-btn, .save-narratives-btn{
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    width: 87%;
    padding: 6% 4% 6% 4%;
    border-radius: 4px;
    border: 0;
    font-size: 13pt;
}
.save-assessments-btn:hover {
    background-color: teal;
    cursor: pointer;
}
.main-narratives-description textarea {
    border-radius: 5px;
    width: 100%;
    font-size: 13pt;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1% 0 0 1%;
}
.main-narratives-description textarea:focus {
    box-shadow: 0 0 10px rgba(81, 203, 238, 1);
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid rgba(81, 203, 238, 1);
  }
.save-narratives{
    padding-top: 0;
    padding-left: 84%;
}
.save-narratives-btn:hover {
    background-color: teal;
    cursor: pointer;
}
