html, body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 39px;
    padding: 2% 3% 0 3%;
    opacity: 0.75;
}

.header {
    background-color: whitesmoke;
    font-size: 17px;
    padding: 9px 2em 9px 1em;
    border-bottom: 1px solid lightgray;
}

.box {
    border: 1px solid lightgray;
    border-radius: 4px;
    margin: 0 3% 30px 3%;
}

.box1 {
    width: 95%;
}

.box2 {
    width: 33%;
    min-width: 300px;
}

.nameemail {
    display: flex;
    flex-direction: row;
}

.nameemail p {
    padding-left: 30px;
    padding-right: 80px;
}

.changepassword {
    padding: 1px 15px 25px 15px;
}

input[type="submit"] {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    padding: 4% 8% 4% 8%;
    border-radius: 4px;
    border: 0;
    font-size: 11pt;
}

input[type="password"] {
    width: 95%;
    border-radius: 4px;
    padding: 1% 0 1% 3%;
    font-weight: 20px;
    border: 1px solid lightgray;
    line-height: 2em;
}